.services {
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        @include breakpoint($tablet-bp) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: 10rem 8rem;

        background-color: lighten($color-dark, 50%);
        background-position: center center;
        background-size: cover;

        @include breakpoint($desktop-bp) {
            padding: 7rem 4rem;
        }

        @include breakpoint($mobile-bp) {
            padding: 6rem 1.5rem;
        }

        &-title {
            margin-bottom: 2rem;

            font-size: 2.4rem;
            color: $color-light;
            font-weight: 500;

            &::after {
                display: block;
                height: 2px;
                width: 5rem;
                margin-top: 1.5rem;

                background-color: $color-accent;
                content: "";
            }
        }

        &-text {
            font-size: 1.4rem;
            color: $color-light;
            line-height: 1.8;
        }
    }
}