.socials {
    &__list {
        display: flex;

        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        color: lighten($color-text, 35%);
        text-decoration: none;
        font-size: 1.4rem;
    }

    &--light .socials__item {
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &--light .socials__link {
        color: $color-light;

        transition: color 0.3s;

        &:hover {
            color: $color-accent;
        }
    }
}