.starter {
    background-color: lighten($color-primary, 25%);
    background-image: url(../img/starter/starter-bg.jpg);
    background-position: center top;
    background-size: cover;

    

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 6rem);
        max-width: 96rem;
        padding: 9rem 1.5rem 9rem;

        position: relative;

        @include breakpoint($reverse-bp) {
            min-height: calc(100vh - 5rem);
            padding: 5rem 1.5rem 9rem;
        }
    }

    &__title {
        margin-bottom: 2rem;

        text-align: center;
        color: $color-light;
        font-size: 7.2rem;
        font-weight: 500;

        @include breakpoint($tablet-bp) {
            font-size: 5.6rem;
        }

        @include breakpoint($reverse-bp) {
            font-size: 3.2rem;
        }
    }

    &__text {
        margin-bottom: 3rem;

        text-align: center;
        color: $color-light-grey;
        font-weight: 400;
        line-height: 1.8;
        font-size: 1.8rem;

        @include breakpoint($tablet-bp) {
            font-size: 1.6rem;
        }

        @include breakpoint($reverse-bp) {
            font-size: 1.4rem;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include breakpoint($mobile-bp) {
            flex-direction: column;
        }
    }

    &__btn {
        display: inline-block;
        padding: 1.5em 3em;

        background-color: $color-dark;
        border: 1px solid transparent;

        color: $color-light;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 500;

        transition: background-color 0.3s, border-color 0.3s;

        @include breakpoint($mobile-bp) {
            font-size: 1.2rem;
        }

        &:not(:last-child) {
            margin-right: 1.5rem;

            @include breakpoint($mobile-bp) {
                margin-right: 0;
                margin-bottom: 1.5rem;
            }
        }

        &:hover {
            background-color: transparent;
            border-color: $color-light;
        }

        &--primary {
            background-color: $color-primary;

            &:hover {
                background-color: darken($color-primary, 10%);
                border-color: transparent;
            }
        }
    }

    &__scrolldown {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        color: $color-light;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.4rem;
        text-decoration: none;
        height: 5rem;

        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);

        transition: color 0.3s;

        &:hover {
            color: $color-accent;
        }

        &::before {
            color: inherit;

            transition: transform 0.3s;
        }

        &:hover::before {
            transform: translateY(10px);
        }
    }
}