.swiper {
    z-index: $z-index-swiper;
    
    &-pagination {
        margin-top: 2rem;

        position: static;
    }

    &-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0px 6px!important;

        &-active {
            background-color: $color-primary;
        }
    }
}