*,
::before,
::after {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

html {
    font-size: 10px;
}

body {
    font-size  : 1.6rem;
    font-family: 'Montserrat', sans-serif;
    color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans', sans-serif;
}