$color-light: #fff;
$color-light-grey: #f6f6f6;
$color-dark: #1f262f;
$color-primary: #316ccd;
$color-accent: #ffde00;
$color-text: #1f262f;

$x-desktop-bp: 1399.98px;
$desktop-bp  : 1199.98px;
$tablet-bp   : 991.98px;
$reverse-bp  : 767.98px;
$mobile-bp   : 575.98px;